<ion-view view-title="Routes">
  <ion-content>
    <ion-list>
        <div class="item item-divider">
         All routes
        </div>
        <div class="card" ng-repeat="route in routes" style="text-align: center;">
          <div class="item item-text-wrap">
          <!-- {{route.id}} - {{route.driverId}}<br/> -->
              From {{route.from}}, to {{route.to}} <br/>
              on {{route.dateFromNow}}<br/>
              driven by {{users[route.driverId].login}}
          </div>
         </div>

          <ion-item ng-if="routesCreatedByUserWithId(currentUserId) == 0">
            No routes
          </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
